body {
  background: url(../img/footer_lodyas.png);
  background-repeat: repeat;
  background-attachment: scroll;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  margin-top: 80px;
  font-size: 60px;
  color: #fed136;
}

i {
  float: right;
  color: #fed136;
}

p {
  color: white;
  font-size: 20px;
}

p,
.quotes,
.apost,
.author {
  font-family: 'Oswald', sans-serif;
}

.display {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 230px;
  border-radius: 3px;
}


.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.fa-3x{
  font-size: 60px;
  margin-left: 10px;
}



.quotes {
  color: black;
  font-size: 24px;
}

.author {
  color: lightslategray;
  margin-left: 70%;
  font-size: 14px;
}

.btn {

  color: dimgray;
  font-family: 'Kaushan Script', cursive;
  font-size: 26px;

}

.apost {
  color: darkslategray;
  font-size: 60px;
}
